<div class="container">
  <div class="row mt-2">
    <h2 class="col-2 head-line title_h2 bg-secondary text-white text-center">投稿一覧</h2>
  </div>
  <!--投稿内容-->

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <%= render "index", post_animals: @post_animals %>
  </div>
</div>


<div class="row">
  <div class="offset-5">
    <div class="text-center">
      <%= paginate @post_animals %>
    </div>
  </div>
</div>

