<div class="container">
  <div class="row mt-2">
    <h2 class="col-3 head-line title_h2 bg-secondary text-white text-center">アカウント詳細</h2>
  </div>
  <!-- ユーザーの詳細 -->
  <div>
    <h3><%= @user.name %></h3>

  </div>
</div>
