<div class="container px-5">
  <div class="row mt-5">
    <div class="col text-center">
      <h3 class="font_about display-3 text-white bg-dark">サイトの概要</h3>
    </div>
  </div>

  <!--概要-->
  <div class="row mt-5 mb-3">
    <div class="col text-center">
      <h3 class="text text-white">このサイトは、動物好きの方たちが集う<br>
        動物好きさんの為のサイトです
        <%= link_to "。", new_admin_session_path, class:"text text-white" %>
      </h3>
    </div>
  </div>
</div>

