<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-9 col-xl-6">
      <h1 class="text-center display-3 mt-3">Animalズー</h1>
      <p class="mt-5 text-center">Animalズーは、動物好きさん達が集まるのSNSサイトです</p>

      <!--ログインボタン 新規登録ボタン-->
      <div class="btn-wrapper col-10 mx-auto mt-5 ">
        <div class="row">
          <%= link_to  new_user_session_path, class:"btn btn-warning btn-sm btn-block mb-5" do %>
            <p class="h4">ログイン</p>
          <% end %>
        </div>
        <div class="row">
          <%= link_to  new_user_registration_path, class:"btn btn-primary btn-sm btn-block mb-3" do %>
            <p class="h4">新規登録</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>