<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-12 col-lg-9 col-xl-6 col">
      <h1 class="font_top text-center display-3 mt-3 text-white bg-danger">AnimalZoo</h1>
      <h3 class="mt-5 text-white text-center">Animalズーは、動物好きさん達が集まる<br>SNSサイトです</h3>

      <!--ログインボタン 新規登録ボタン-->
      <div class="btn-wrapper col-10 mx-auto mt-5 ">
        <% if user_signed_in? %>
          <div>
            <%= link_to user_path(current_user), class:"btn btn-warning btn-sm btn-block mb-5" do %>
              <p class="h4">マイページ</p>
            <% end %>
          </div>
        <% else %>
          <div class="row">
            <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
          </div>
          <div class="row">
            <%= link_to  new_user_session_path, class:"btn btn-warning btn-sm btn-block mb-5" do %>
              <p class="h4">ログイン</p>
            <% end %>
          </div>
          <div class="row">
            <%= link_to  new_user_registration_path, class:"btn btn-primary btn-sm btn-block mb-3" do %>
              <p class="h4 text-body">新規登録</p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>