/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
 background-image: url('africa.jpg');
 background-size: cover;
}

.toumei{
  background-color: rgba(255, 255, 255, 0.2);
}

.footerFixed{
  min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  position: relative;/* ←相対位置 */
  padding-bottom: 60px; /* ←フッターの高さを指定 */
  box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.font_heder_rogo{
  font-family: 'Pangolin', cursive;
}

.word-break{
  word-break: break-all;
}

.about_btn{
  text-decoration: none !important;
}

.post_index_btn{
  text-decoration: none !important;
}

.post_index_comment{
  padding-left: 5px;
}

.post_index_time{
  color: rgba(17,17,17,0.6);
}

.thumbnail{
  width: 230px;
  height: 230px;
  object-fit: cover;
}

.rank_index{
  color: rgba(0,0,0,0.85);
}

.card:hover {
  top:-5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}
