// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user_unsubscribe{
  background-color:#FF0000	;
}

.user_show_img{
  justify-content: center;
}

.user_show_box{
  background-color: rgba(204,255,255,0.4);
}